<section class="st-content"></section>
<section class="why-future">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-heading">
          <h1>Why Future Work Technologies?</h1>
          <p>What’s in it for me if I pick Future Work Technologies</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 no-padding">
        <div class="col-sm-10 center">
          <p>We reimagine your business by extending digital’s power all the way through the middle and back office where it can generate growth, cost efficiency and business agility.</p>
          <p>We put digital technology and analytics to work. Importantly, our approach is designed to help large enterprises with complex, often dated pre-existing operations, embrace the art of the possible.</p>
          <ul class="future-details">
            <li>
              <div class="img-sec"> <i class="fa fa-calendar" aria-hidden="true"></i></div>
              <div class="details-inner"> <span>No. of years in business</span> <strong>5+</strong></div>
            </li>
            <li>
              <div class="img-sec"> <i class="fa fa-suitcase" aria-hidden="true"></i></div>
              <div class="details-inner"> <span>No. of customers served</span> <strong>250+</strong></div>
            </li>
            <li>
              <div class="img-sec"> <i class="fa fa-star" aria-hidden="true"></i></div>
              <div class="details-inner"> <span>No. of projects delivered</span> <strong>450+</strong></div>
            </li>
            <li>
              <div class="img-sec"> <i class="fa fa-users" aria-hidden="true"></i></div>
              <div class="details-inner"> <span>No. of Employees</span> <strong>80+</strong></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</section>
<section class="why-slider-sec">
  <div class="img-pattern"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-heading">
          <h1>The Future Work Technologies Advantage</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item">
        <div class="slide-wrapper">
          <div class="slide-img"> <span><i class="fa fa-suitcase" aria-hidden="true"></i></span></div>
          <div class="slide-heading">
            <h6>Generating impact for sophisticated, complex enterprises</h6>
          </div>
          <div class="slide-content">
            <p>We put digital technology and analytics to work. Our experience demonstrates that advanced business processes and operations can generate material impact. They help our clients control cost and capital intensity, strengthen market engagement, support organizational transformation, and manage risk and compliance. In doing so, they make our clients more competitive. It is this focus that has enabled us to transform the business process services space in only a few years.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slide-wrapper">
          <div class="slide-img"> <span><i class="fa fa-star" aria-hidden="true"></i></span></div>
          <div class="slide-heading">
            <h6>IT Managed Services</h6>
          </div>
          <div class="slide-content">
            <p>Future work helps clients apply technology in the most effective and targeted way, helping them to navigate the complexity of legacy systems while enabling innovation. Through our unique Lean DigitalSM approach, we support over 1 million end users and monitors over 400,000 infrastructure devices globally, enabling critical business processes they support to deliver business impact, while limiting capital expenditures, risk, complexity, and time-to-benefit.</p>
          </div>
        </div>
      </div>
      <div class="item active">
        <div class="slide-wrapper">
          <div class="slide-img"> <span><i class="fa fa-users" aria-hidden="true"></i></span></div>
          <div class="slide-heading">
            <h6>Enterprise Application Services</h6>
          </div>
          <div class="slide-content">
            <p>Designing and implementing technology is not what it used to be. The proliferation of platforms and tools – including a range of digital and analytics ones – combined with a growing amount of process complexity, make integrating and aligning technology components with business processes an increasingly complex task. We relentlessly apply technology in the most effective and targeted way aimed at creating Intelligent OperationsSM that sense, execute efficiently and effectively, and learn to adapt. This enables business processes to deliver material impact on outcomes while limiting capital expenditures, risk, complexity, and time-to-benefit.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slide-wrapper">
          <div class="slide-img"> <span><i class="fa fa-star" aria-hidden="true"></i></span></div>
          <div class="slide-heading">
            <h6>Large enterprises struggle to<br>
              adapt to changing market dynamics at scale</h6>
          </div>
          <div class="slide-content">
            <p>Customers experience expectations have skyrocketed and some disruptors are successfully attacking incumbents. Regulatory pressure has increased. All this in a very uncertain business environment. Yet the flow of work that supports the ability to execute at scale across these three mandates is fragmented, hamstrung between an often modern front end, and a manual and dated back office.This challenge has stubbornly resisted traditional transformation methods, and is the root of a “digital divide” between leaders.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
  <div class="clr"></div>
</section>
<section class="why-different">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-heading">
          <h1>What makes us different is</h1>
          <p>A no BS approach to software development</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 no-padding">
        <div class="col-sm-10 center">
          <p>Our unique culture provides you with the opportunity to work alongside dynamic people and build incredible relationships. Engaging side by side, working on challenging projects, we create value and impact for our clients and industries we serve. You will be encouraged to learn and lead, owning your career and your future.The impact on our clients is a high return on transformation investments through growth, efficiency, and business agility.  The resulting business process and industry domain expertise, and experience running complex operations, are a unique heritage and focus that help us drive the best choices across technology, analytics, and organizational design.</p>
          <section class="testimonial_sec">
            <div class="container">
              <div class="row">
                <div class="col-md-12 no-padding">
                  <div class="col-md-10 col-sm-10 center">
                    <div class="client-img">
                      <figure> <img src="https://futureworktechnologies.com/wp-content/uploads/2017/03/Chatri-Sityodton-1-300x300.jpg" alt="" class="alignnone size-medium wp-image-531" srcset="https://futureworktechnologies.com/wp-content/uploads/2017/03/Chatri-Sityodton-1-300x300.jpg 300w, https://futureworktechnologies.com/wp-content/uploads/2017/03/Chatri-Sityodton-1-150x150.jpg 150w, https://futureworktechnologies.com/wp-content/uploads/2017/03/Chatri-Sityodton-1-768x768.jpg 768w, https://futureworktechnologies.com/wp-content/uploads/2017/03/Chatri-Sityodton-1.jpg 922w" sizes="(max-width: 300px) 85vw, 300px" width="300" height="300"></figure>
                      <div class="client-details"> <span class="name">Stefan Kalteis</span> <span class="designation">Founder &amp; Investor Talk Series</span></div>
                    </div>
                    <div class="client_feedback">
                      <p> <span class="left-icon"><i class="fa fa-quote-left" aria-hidden="true"></i></span> The team applied historical knowledge and best-practices<br>
                        to help our team through road-blocks. More than anything, <br>
                        consultative approach to app development felt like a true partnership. <br>
                        The level of flexibility and responsiveness is,arguably, <br>
                        one of your strongest advantages compared to other companies. <span class="right-icon"><i class="fa fa-quote-right" aria-hidden="true"></i></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clr"></div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
